body {
    background-color: #f8fdfb;
}

h1 {
    color: #007bff;
}

h2 {
    color: #007bff;
}

h4 {
    color: #00bf63;
}

.AboutMe {
    display: flex;
    background-color: orange;
    padding: 24px;
    width: auto;
    height: auto;
    min-width: 100px;
    object-fit: cover;
}

.BusinessBio {
    display: flex;
    background-color: pink;
    padding: 24px;
    width: auto;
    height: auto;
    min-width: 100px;
    object-fit: cover;
}

.PersonalBio {
    display: flex;
    background-color: rgb(44, 147, 179);
    padding: 24px;
    width: auto;
    height: auto;
    min-width: 100px;
    object-fit: cover;
}

.BusinessExperience {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 179, 89);
    padding: 24px;
    width: auto;
    height: auto;
    min-width: 100px;
    object-fit: cover;
}

.Resume {
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 1
}