body {
    background-color: #f8fdfb;
}

h1 {
    color: #007bff;
}

h2 {
    color: #007bff;
}

h4 {
    color: #00bf63;
}

.BusinessBio {
    background-color: pink;
    padding: 24px;
    width: auto;
    height: auto;
    min-width: 100px;
    object-fit: cover;
}

.PersonalBio {
    background-color: rgb(44, 147, 179);
    padding: 24px;
    width: auto;
    height: auto;
    min-width: 100px;
    object-fit: cover;
}

.BusinessExperience {
    background-color: rgb(44, 179, 89);
    padding: 24px;
    width: auto;
    height: auto;
    min-width: 100px;
    object-fit: cover;
}