body {
    background-color: #f8fdfb;
}

h1 {
    color: #007bff;
}

h2 {
    color: #007bff;
}

h4 {
    color: #00bf63;
}

.Header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px
}

.column1 img {
    padding: 50px;
    border-radius: 20%;
    max-width: 300px;
    min-width: 100px;
    width: 100%;
    height: auto;
    border: 2px solid #00bf63
}

.column2 {
    flex: 1;
    padding: 50px display: flex;
    flex-direction: column;
}

.Project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 24px;
    width: auto;
    height: auto;
    min-width: 100px;
    object-fit: cover;
}

.Connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 24px;
    width: auto;
    height: auto;
    min-width: 100px;
    object-fit: cover;
}

.ContactMe {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: auto;
    height: auto;
    min-width: 100px;
    object-fit: cover;
}

.EmailMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 24px;
    width: auto;
    height: auto;
    min-width: 100px;
    object-fit: cover;
}


.Box {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: auto;
    height: auto;
    min-width: 100px;
    object-fit: cover;
}

.btn-outline-primary {
    min-width: 100px;
    max-width: 300px;
}

.Resume {
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 1
}